name: Deploy Cepstore via FTP
on:
  push:
    branches: ["main"]
jobs:
  ftp-deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: SamKirkland/FTP-Deploy-Action@v4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          port: ${{ secrets.FTP_PORT }}
          server-dir: ${{ secrets.FTP_PATH }}
          protocol: ftp
          exclude: |
            **/.git*
            **/.github/**
            wp-config.php
            wp-content/uploads/**
            node_modules/**
            vendor/**
